.bg-dark,
.btn-dark {
  background-color: #2c3e50 !important;
}

h1 {
  font-size: 2rem;
  margin: 1.5em;
}

a {
  color: #2c3e50;
}

a:hover {
  text-decoration: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#nav .logo {
  font-size: 1.25em;
  font-weight: bold;
}

#nav .menu-item {
  font-size: 0.9em;
  color: grey;
}

nav .cart-icon {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .cart-number {
  position: relative;
  bottom: 7px;
  padding-left: 7px;
  font-size: 0.8em;
}

.show-on-small-screen {
  margin-left: auto;
}

.main {
  min-height: 600px;
  margin-bottom: 2em;
}

img {
  max-width: 300px;
  height: auto;
}

li {
  margin: 1em auto !important;
  list-style-type: none;
}

.product-table {
  max-width: 800px;
  margin: 2em auto;
}

footer {
  color: grey;
  border-top: 1px solid lightgrey;
  font-size: 15px;
  padding: 24px 34px 6px;
  text-align: center;
}

@media screen and (min-width: 1023px) {
  .show-on-small-screen {
    display: none;
  }
}
